# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff

# Language overrides
*.inc linguist-language=C++
csrc/* linguist-language=C++
